.linklove{
	display: none;
}

#content #cformsform{
	width: 522px;
	margin: 0 90px;
	float: left;
}

#content #cformsform fieldset{
	border: 1px solid silver;
	padding: 20px;
	margin-bottom: 10px;
	width: 480px;
}

#content #cformsform fieldset.cf_hidden{
	display: none;
}

#content #cformsform fieldset legend{
	font-weight: bold;
	font-size: 15px;
	padding: 0 10px;
}

#content #cformsform fieldset ol{
	margin: 0;
}

#content #cformsform fieldset ol li{
	list-style: none;
	float: left;
	position: relative;
	margin-bottom: 15px;
}

#content #cformsform fieldset ol li label{
	font-size: 12px;
	float: left;
	clear: both;
	font-weight: bold;
}

#content #cformsform fieldset ol li input,
#content #cformsform fieldset ol li textarea,
#content #cformsform fieldset ol li select{
	float: left;
	clear: left;
	font-size: 14px;
	padding: 8px;
	border: 1px solid silver;
	margin: 0;
	width: 460px;
}

#content #cformsform fieldset ol li span.reqtxt,
#content #cformsform fieldset ol li span.emailreqtxt{
	float: right;
	font-size: 9px;
	font-weight: bold;
	position: absolute;
	bottom: 32px;
	right: 0;
}

/** Forma de Contacto **/

#content #cformsform fieldset ol li#li--5{
	width: 220px;
}
#content #cformsform fieldset ol li#li--6{
	width: 220px;
	margin: 0 0 0 20px;
}

#content #cformsform fieldset ol li#li--5 select,
#content #cformsform fieldset ol li#li--6 input{
	width: 220px;
}

#content #cformsform fieldset ol li#li--5 select{
	padding: 7px 8px;
}

/** Idioma y País **/
/*
#content #cformsform fieldset ol li#li--7{
	width: 220px;
	clear: left;
}
#content #cformsform fieldset ol li#li--8{
	width: 220px;
	margin: 0 0 0 20px;
}
*/
#content #cformsform fieldset ol li#li--7 select,
#content #cformsform fieldset ol li#li--8 input{
	width: 220px;
}

#content #cformsform fieldset ol li#li--7 select{
	padding: 7px 8px;
}

/** Mensaje y Asunto **/

#content #cformsform fieldset ol li#li--10 span.reqtxt,
#content #cformsform fieldset ol li#li--11 span.reqtxt{
	display: none;
}

/** Submit **/

#content #cformsform p.cf-sb input{
	float: right;
	font-size: 15px;
	padding: 8px;
}

/** Mensajes de Error **/


#content #cformsform ol li.cf_li_err label{
	color: #D62A26;
}

#content #cformsform ol li ul.cf_li_text_err{
	margin: 0;
}

#content #cformsform ol li ul.cf_li_text_err li{
	font-weight: bold;
	font-size: 10px;
	color: #D62A26;
	margin: 0 0 1px 0;
	padding: 3px 0;
	width: 476px;
	text-align: center;
	border: 1px dotted #D62A26;
}