body{
	font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
	font-size: 10px;
	background: #F6F6F6;
	color: #555;
}

a{
	color: #137abd;
}

a:hover{
	text-decoration: underline;
}

strong, b{
	font-weight: bold;
}

em, i{
	font-style: oblique;
}

/** Network Nav **/

#network-nav{
	width: 100%;
	height: 20px;
	border-bottom: 1px solid #E83427;
	line-height: 20px;
	background: #3C3C3C;
}

#network-nav ul{
	width: 960px;
	margin: 0 auto;
}

#network-nav ul li{
	display: inline;
	padding: 0 20px 0 0px;
	line-height: 20px;
}

#network-nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
}

#network-nav ul li a:hover{
	border-bottom: 1px dotted white;
}


/** Header **/

#header{
	width: 960px;
	margin: 0 auto;
	position: relative;
	height: 100px;
}

#header h1{
	margin: 10px 0 0 0;
	width: 180px;
	height: 75px;
	float: left;
}

#header h1 a{
	width: 180px;
	height: 75px;
	float: left;
	background: url(../img/dxc_logo.png) no-repeat;
}

#header h1 a span{
	display: none;
}

/** Header - Menu Superior **/

#header #menu{
	float: right;
}

#header #menu ul{
	margin: 10px 10px 0 0;
}

#header #menu ul li{
	display: inline;
	margin: 0 10px;
}

#header #menu ul li a{
	color: #0D78BB;
	text-decoration: none;
}

#header #menu ul li a:hover{
	border-bottom: 1px dotted #0D78BB;
}

#header #menu ul li.current-menu-item a,
#header #menu ul li.current-menu-item a:hover{
	border-bottom: 1px solid #0D78BB;
}


/** Home **/

#home{
	background: url(../img/home_bg.png) no-repeat center;
	width: 100%;
	height: 371px;
	float: left;
	margin: 20px 0;
}

#home #content{
	width: 960px;
	margin: 0 auto;
	float: none;
}

#home #content div.video{
	padding: 25px 0;
	width: 510px;
	float: left;
}

#home #content div.pitch{
	padding: 25px 0 25px 25px;
	float: left;
	width: 400px;
}

#home #content div.pitch h1{
	color: #D62A26;
	font-family: "Helvetica", "Arial";
	font-size: 24px;
	margin-bottom: 10px;
}

#home #content div.pitch div.text{
	font-size: 12px;
	line-height: 1.5em;
	height:275px;
	overflow:hidden;
}

#home #content div.pitch div.text p{
	margin-bottom: 1em;
}

#home #content div.more a{
	margin: 0 0 0 75px;
	padding: 10px 0 0px 65px;
	height: 65px;
	width: 190px;
	float: left;
	background: url(../img/home_action.png);
	color: white;
	text-decoration: none;
	font-size: 14px;
	font-family: "Helvetica", "Arial";
	font-weight: bold;
	line-height: 1.3em;
}

#home #content div.more a strong{
	font-size: 17px;
}

/** Barra de Feed **/

#feed{
	background: #999999;
	height: 250px;
	margin: 30px 0px;
	width: 100%;
	float: left;
}

#feedcontent{
	width: 940px;
	margin: 0 auto;
	position: relative;
	background: #F6F6F6;
}

#feedcontent h2{
	height: 35px;
	width: 180px;
	padding: 10px 20px 0px 0;
	float: left;
	font-size: 30px;
	font-weight: bold;
	color: white;
	background: #999999;
	line-height: 1.2em;
	text-align: right;
}

#feedcontent h3.more{
	font-size: 12px;
	font-weight: bold;
	color: white;
	position:absolute;
	top:45px;
	left:117px;
}

#feedcontent ul{
	height: 250px;
	padding: 0 20px 0 0;
	float: left;
	background: #F6F6F6;
}

#feedcontent ul li{
	width: 160px;
	margin: 0px 0px 0 20px;
	height: 250px;
	float: left;
	position: relative
}

#feedcontent ul li h3{
	margin-top: 85px;
	line-height: 1.5em;
	color: #CC0000;
	margin-bottom: 5px;
}

#feedcontent ul li h3 a{
	color: #CC0000;
	text-decoration: none;
}

#feedcontent ul li h3 a:hover{
	text-decoration: underline;
}

#feedcontent ul li p.meta{
	position: absolute;
	top: -15px;
	color: #CC0000;
	font-weight: bold;
	width: 160px;
}

#feedcontent ul li p.meta span.category{
	float: left;
}

#feedcontent ul li p.meta span.date{
	float: right;
}

#feedcontent ul li p{
	line-height: 1.5em;
}

#feedcontent ul li img{
	position: absolute;
	top: 0;
}


/** Navegación **/

#nav{
	width: 100%;
	height: 35px;
	background: #132453;
	float: left;
}

#nav ul{
	width: 960px;
	height: 35px;
	margin: 0 auto;
}

#nav ul li{
	height: 35px;
	float: left;
	position: relative;
}

#nav ul li a{
	font-size: 12px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	padding: 0 20px;
	line-height: 35px;
	height: 35px;
	vertical-align: middle;
	float: left;
}

#nav ul li a:hover{
	background: #0D78BB;
}

#nav ul li.active a,
#nav ul li.current-menu-item a,
#nav ul li.current-menu-ancestor a{
	background: url(../img/menu_active.png);
	border-left: 10px solid #F6F6F6;
	border-right: 10px solid #F6F6F6;
}

#nav ul li.current-menu-item ul,
#nav ul li.current-menu-ancestor ul{
	margin-left: 10px;
}

#nav ul li.current-menu-item ul li a,
#nav ul li.current-menu-ancestor ul li a{
	background: #132453;
	border: none;
}

#nav ul li.current-menu-item ul li a:hover,
#nav ul li.current-menu-ancestor ul li a:hover{
	background: #0D78BB;
}


#nav ul li:hover ul.sub-menu,
#nav ul li ul.sub-menu:hover{
	display:block;
    position:absolute;
    top:35px;
    left:0;
    z-index:100;
}

/** Sub Menu **/

#nav ul li ul.sub-menu{
    display:none;
	padding-top: 1px;
}

#nav ul li ul.sub-menu li{
	clear: both;
    background: #132453;
}

#nav ul li ul.sub-menu li a{
	float: left;
	width: 140px;
}

/** Sidebar **/

li.widget-container{
	display: block;
	background-color: #ffffff;
	border: 1px solid #ccc;
	margin: 0 0 10px;
}

li.widget-container h3.widget-title{
	margin: 1px;
	background: #eeeeee;
	padding: 7px 9px 9px;
	display: block;
	font-size: 14px;
	line-height: 12px;
	color: #D62A26;
}

li.widget-container ul{
	margin: 6px 6px;
	list-style-type: square;
	list-style-position: inside;
}

li.widget-container ul li{
	padding: 5px 0 5px 10px;
}

li.widget-container ul li a{
	text-decoration: none;
	color: #3333ff;
	font-size: 11px;
}

li.widget-container ul li a:hover{
	text-decoration: none;
	color: #0000cc;
	padding-left: 2px;
}


li.widget-container.widget_text div{
	padding: 10px;
	font-size: 11px;
	line-height: 1.5em;
}


/** Footer **/

#footer {
	width: 100%;
	float: left;
	padding: 15px 0 20px 0;
	background: url(../img/footer_line.png) no-repeat center top;
}

#footer div.wrap{
	width: 960px;
	margin: 0 auto;
	
}

#footer #about{
	width: 340px;
	float: left;
}

#footer #about h3{
	margin: 10px 0 0 0;
	width: 180px;
	height: 75px;
	float: left;
}

#footer #about h3 a{
	width: 180px;
	height: 75px;
	float: left;
	background: url(../img/dxc_logo.png) no-repeat;
}

#footer #about h3 a span{
	display: none;
}

#footer #about p.contact {
	float: left;
	margin: 55px 0 0 20px;
}

#footer #about p.contact a{
	background: url(../img/contact_small.png) no-repeat;
	width: 82px;
	padding: 0 0 0 28px;
	color: white;
	height: 23px;
	line-height: 23px;
	vertical-align: middle;
	float: left;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
}

#footer #about p.about{
	width: 324px;
	padding: 8px;
	float: left;
	line-height: 1.5em;
	font-size: 11px;
}

#footer #logos{
	width: 580px;
	margin: 25px 0 0 0;
	float: right;
}

#footer #logos h2{
	font-size: 12px;
	margin: 0 0 5px 28px;
	color: silver;
	clear: both;
}

#footer #logos ul{
	text-align: center;
	clear: both;
}

#footer #logos ul li{
	display: inline;
	margin: 20px;
	float: left;
}

#footer #links{
	border-top: 1px #E1E1E1 solid;
	padding: 10px 10px 0 10px;
	margin: 40px 23px 0px 23px;
	width: 890px;
	float: left;
	text-align: center;
	vertical-align: middle;
	line-height: 16px;
}

#footer #links ul li{
	color: #999;
	margin: 0 12px;
	display: inline;
	float:left;
}

#footer #links ul li a{
	text-decoration: none;
}

#footer #links ul li a:hover{
	text-decoration: underline;
}

#footer #links ul li img{
	vertical-align: text-bottom;
}

/** Contenidos Generales **/

#container{
	float: left;
	width: 100%;
}

#page.wrap,
#post.wrap,
#category.wrap{
	width: 940px;
	margin: 20px auto 10px auto;
}

#sidebar{
	width: 240px;
	float: right;
}

#breadcrumb{
	width: 680px;
	float: left;
	margin: 0 0 10px 0;
}

#content{
	width: 680px;
	float: left;
}


#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6{
	color: #137abd;
	font-family: "Helvetica", "Arial";
	line-height: 1.4em;
	margin-bottom: 10px;
}

#content h1{
	color: #D62A26;
	font-size: 24px;
	border-bottom: 2px solid #D62A26;
}

#content h2{
	font-size: 21px;
}

#content h3{
	font-size: 18px;
}

#content h4{
	font-size: 16px;
}

#content h5{
	font-size: 14px;
}

#content h6{
	font-size: 12px;
}

#content h1 a,
#content h2 a,
#content h3 a,
#content h4 a,
#content h5 a,
#content h6 a{
	color: #D62A26;
	text-decoration: none;
}

#content div.post-content{
	line-height: 1.5em;
	font-size: 12px;
	margin-bottom: 40px;
}

#content div.post-content p{
	margin-bottom: 1em;
}

#content div.post-content strong,
#content div.post-content b{
	font-weight: bold;
}

#content div.post-content em,
#content div.post-content i{
	font-style: oblique;
}

#content div.post-content pre{
	white-space: pre-line;
}

#content div.post-content ul,
#content div.post-content ol{
	margin: 0 0 1em 2em;
}

#content div.post-content ul li ol,
#content div.post-content ul li ul,
#content div.post-content ol li ol,
#content div.post-content ol li ul{
	margin: 0 0 0em 2em;
}

#content div.post-content ul{
	list-style: disc;
}

#content div.post-content ol{
	list-style: decimal;
}

/** Categoría y Archivo **/

#content div.post{
	margin: 30px 0 60px 0;
}

#content div.post h2{
	margin-bottom: 5px;
}

#content div.post p.meta,
#content p.meta{
	margin-bottom: 20px;
	font-size: 11px;
}


/* =Images
-------------------------------------------------------------- */

#content img {
	margin: 0;
	height: auto;
	max-width: 640px;
	width: auto;
}
#content .attachment img {
	max-width: 900px;
}
#content .alignleft,
#content img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
#content .alignright,
#content img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
#content .aligncenter,
#content img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#content img.alignleft,
#content img.alignright,
#content img.aligncenter {
	margin-bottom: 12px;
}
#content .wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	padding: 4px;
	text-align: center;
}
#content .wp-caption img {
	margin: 5px 5px 0;
}
#content .wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
#content .wp-smiley {
	margin: 0;
}
#content .gallery {
	margin: 0 auto 18px;
}
#content .gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
#content .gallery img {
	border: 2px solid #cfcfcf;
}
#content .gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
#content .gallery dl {
	margin: 0;
}
#content .gallery img {
	border: 10px solid #f1f1f1;
}
#content .gallery br+br {
	display: none;
}
#content .attachment img { /* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}



/** Pagination **/

.pagination{
	width: 680px;
	margin: 0 0 20px 0;
	float: left;
	text-align: center;
}

.pagination ol li{
	display: inline;
}

.pagination ol li a{
	display: inline-block;
	padding: 5px 7px;
	margin: 0 5px;
	border: 1px #339ADD solid;
	text-decoration: none;
}

.pagination ol li span.current{
	display: inline-block;
	padding: 5px 7px;
	margin: 0 5px;
	border: 1px white solid;
	background: #137ABD;
	color: white;
	font-weight: bold;
}


#fb-like{
	margin: 20px 0 0 0;
}

/* Formularios */

span.reqtxt, span.emailreqtxt{
	color: #D62A26;
}
